@import './base.css';
@import './highcharts.css';
#app {
  width: 100%;
  margin: 0 auto;
  padding: 0rem;
  font-weight: normal;
  min-height: calc(100vh - 50px);
}

.tooltip-text {
  color: black;
}
